.egg-game-wrapper {
    position: relative; 
    border: 2px solid #333;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
}

.overlay h1, .overlay h2 {
    margin-bottom: 10px;
    font-family: 'sans-serif', monospace;
}

.overlay button {
    padding: 10px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}