.site-header {
  padding-top: 300px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.portfolio-title {
  margin: 0;
  color: #fff;
  font-size: 11rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}

.portfolio-title:hover {
  color: orange;
}

.github-link {
  margin-top: 10px;
  color: #fff;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.github-link:hover {
  color: orange;
}

.header-separator {
  width: 30%;
  height: 1px;
  background-color: #fff;
  margin-top: 150px;
  margin-bottom: 50px;
  align-self: flex-end;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-self: flex-end;
  align-items: flex-end;
  margin-top: 10px;
}

.nav-button {
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: yellow;
}

/* mobile overrides */
@media (max-width: 768px) {
  .site-header {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .header-content {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .portfolio-title {
    font-size: 4rem;
    text-align: left;
    line-height: 1.1;
    align-self: flex-start;
  }

  .github-link {
    font-size: 1.5rem;
    margin-top: 15px;
    align-self: flex-start;
  }

  .header-separator {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    align-self: center;
  }

  .header-nav {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .nav-button {
    font-size: 2rem;
  }

  .header-separator {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    align-self: center;
  }
}